@charset "UTF-8";
.header {
  background: url("../img/background_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh;
}

.header::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(43, 46, 74, 0.7);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.header-container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

.header-container .header-logo {
  padding: 38px 0;
  border-bottom: 3px solid #6c7279;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
  .header-container .header-logo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header-container .header-logo .logo-head {
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 1;
}

.header-container .header-logo .logo-white {
  color: white;
  text-transform: uppercase;
}

.header-container .header-logo .logo-color {
  color: #2d3033;
  text-transform: uppercase;
  font-weight: 700;
}

.header-container .header-logo .header-menu {
  min-width: 585px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 13px;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
  .header-container .header-logo .header-menu {
    min-width: 0;
    max-width: 400px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header-container .header-logo .header-menu .header-menu-item {
  color: white;
  border: 1px solid rgba(0, 0, 0, 0);
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
  .header-container .header-logo .header-menu .header-menu-item {
    min-width: 0;
    margin-left: 0;
    text-align: center;
  }
}

.header-container .header-logo .header-menu .header-menu-item:hover {
  color: #e84545;
}

.header-container .header-title-discription-button {
  padding: 155px 0 157px;
}

.header-container .header-title-discription-button .header-title {
  padding-bottom: 30px;
  margin: auto;
  max-width: 865px;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.header-container .header-title-discription-button .header-title h1 {
  font-size: 64px;
  font-weight: bold;
  line-height: 1.1;
  font-family: "Open Sans", sans-serif;
}

.header-container .header-title-discription-button .header-discription {
  padding-bottom: 76px;
  margin: auto;
  text-align: center;
  max-width: 912px;
  color: white;
  font-size: 22px;
  font-family: "Raleway", sans-serif;
}

.header-container .header-title-discription-button .header-button {
  /*кнопка*/
  width: 200px;
  height: 50px;
  border: 1px solid #e84545;
  border-radius: 10px;
  background-color: #e84545;
  margin: auto;
  display: block;
  font-size: 13px;
  color: white;
  text-align: center;
  line-height: 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.header-container .header-title-discription-button .header-button:hover {
  color: black;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header-container .header-title-discription-button .header-button:active {
  -webkit-box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
          box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.header-menu-li,
.header-menu-item {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header-menu-li:before,
.header-menu-item:before {
  content: "";
  width: 0;
  height: 0.1em;
  position: absolute;
  bottom: 0;
  left: 50%;
  background: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header-menu-li:hover,
.header-menu-item:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header-menu-li:hover:before,
.header-menu-item:hover:before {
  width: 100%;
  left: 0;
  background: #e84545;
}

.features {
  width: 100%;
  padding: 120px 0 49px;
}

.features .features-container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}

.features .features-container .features-container-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.features .features-container .features-container-row-item {
  width: 296px;
  margin: 0 20px 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.features .features-container .features-container-row-item .features-container-row-item-icon {
  height: 60px;
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-bottom: 34px;
}

.features .features-container .features-container-row-item .features-container-row-item-title {
  padding-bottom: 25px;
  font-size: 14px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}

.features .features-container .features-container-row-item .features-container-row-item-discription {
  font-size: 14px;
  color: #6c7279;
  font-family: "Raleway", sans-serif;
}

.download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.download .download-container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}

.download .download-container .download-discription {
  padding: 100px 0;
}

.download .download-container .download-discription .download-title {
  padding-bottom: 15px;
  margin: auto;
  text-align: center;
  color: #2d3033;
}

.download .download-container .download-discription .download-title .download-title-text {
  font-size: 28px;
  text-transform: capitalize;
}

.download .download-container .download-discription .download-text {
  padding-bottom: 40px;
  margin: auto;
  text-align: center;
  color: #2d3033;
  font-size: 13px;
  text-transform: uppercase;
}

.download .download-container .download-discription .download-button {
  /*кнопка*/
  width: 200px;
  height: 50px;
  border: 1px solid #e84545;
  border-radius: 10px;
  background-color: #e84545;
  margin: auto;
  display: block;
  font-size: 13px;
  color: white;
  text-align: center;
  line-height: 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.download .download-container .download-discription .download-button:hover {
  color: black;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.download .download-container .download-discription .download-button:active {
  -webkit-box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
          box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.footer-container {
  width: 100%;
}

.footer-top {
  background-color: #3a3e64;
  padding: 72px 50px 90px 50px;
  color: white;
}

.footer-top-row {
  position: relative;
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
  .footer-top-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer-top-row-item-a,
.footer-top-row-item-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
  .footer-top-row-item-a,
  .footer-top-row-item-c {
    position: relative;
    top: auto;
    margin: 0 auto;
  }
}

.footer-top-row-item-a {
  max-width: 300px;
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
  .footer-top-row-item-a {
    left: auto;
  }
}

.footer-top-row-item-c {
  right: 15px;
  max-width: 328px;
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
  .footer-top-row-item-c {
    right: auto;
  }
}

.footer-top-container-row-item-b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
  .footer-top-row-item-a,
  .footer-top-container-row-item-b,
  .footer-top-row-item-c {
    padding: 35px 0 35px;
  }
}

.footer-top-row-title {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 11px;
}

.footer-top-row-discription-b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: auto;
}

.footer-top-b-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid white;
  width: 41px;
  height: 41px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*выравнивание по гориз*/
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*выравнивание по вертикали*/
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 5px;
}

.footer-top-b-icon:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.footer-icon {
  font-size: 17px;
  /*размер шрифта*/
  color: white;
  /*цвет шрифта*/
}

.footer-bottom {
  background-color: #313454;
  padding: 0 15px;
}

.footer-bottom-copyright {
  text-align: center;
  padding: 30px 0;
  color: #808080;
}

.footer-bottom-heart {
  color: red;
}

.footer-bottom-text-by {
  color: #ffffff;
}

.team {
  width: 100%;
  padding: 100px 0 100px;
}

.team .team-container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}

.team .team-container .team-container-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team .team-container .team-container-row .team-container-row-item {
  width: 272px;
}

.team .team-container .team-container-row .team-container-row-item .team-container-row-item-avatar {
  padding-bottom: 30px;
}

.team .team-container .team-container-row .team-container-row-item .team-container-row-item-name {
  font-size: 22px;
  padding-bottom: 16px;
}

.team .team-container .team-container-row .team-container-row-item .team-container-row-item-position {
  font-size: 13px;
  text-transform: uppercase;
  padding-bottom: 29px;
  color: #e84545;
}

.team .team-container .team-container-row .team-container-row-item .team-container-row-item-discription {
  padding-bottom: 30px;
  color: #6c7279;
}

.team .team-container .team-container-row .team-container-row-item .team-row-item-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: auto;
}

.team .team-container .team-container-row .team-container-row-item .team-item-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid #6c7279;
  width: 41px;
  height: 41px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*выравнивание по гориз*/
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*выравнивание по вертикали*/
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 5px;
}

.team .team-container .team-container-row .team-container-row-item .team-item-icon:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.team .team-container .team-container-row .team-container-row-item .team-icon {
  font-size: 17px;
  /*размер шрифта*/
  color: #6c7279;
  /*цвет шрифта*/
}

.works {
  width: 100%;
}

.works .works-container {
  margin: auto;
}

.works .works-container .works-container-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.works .works-container .works-container-row .works-container-row-item {
  width: 25%;
  min-width: 470px;
  height: 351px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1px 1px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: relative;
  border: 1px solid white;
}

.works .works-container .works-container-row .works-container-row-item .works-container-row-item-title {
  font-size: 14px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}

.works .works-container .works-container-row .works-container-row-item .works-container-row-item-discription {
  font-size: 14px;
  font-family: "Raleway", sans-serif;
}

.works-container-row-item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(218, 45, 45, 0.85);
  opacity: 0;
  text-align: center;
  font-size: 20px;
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.works-container-row-item-content:hover {
  opacity: 1;
}

.works-container-row-item-content .works-container-row-item-title {
  padding-bottom: 13px;
}

.slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #35151a;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-image {
  width: 50vw;
  display: block;
}

.slider-text-part {
  width: 50vw;
  height: 100%;
  margin: auto;
  color: white;
  display: block;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-discription {
  max-width: 500px;
  margin: auto;
  margin-top: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.quote {
  font-size: 36px;
}

.author {
  font-size: 13px;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 60px;
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*Конкретный слайдер*/
.slider {
  position: relative;
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  left: 95%;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 30px;
}

.slider .slick-arrow.slick-prev {
  left: 0;
  background: url("../img/icon/left-arrow.jpg") 0 0/100% no-repeat;
}

.slider .slick-arrow.slick-next {
  right: 0;
  background: url("../img/icon/right-arrow.jpg") 0 0/100% no-repeat;
}

.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider .slick-dots li {
  list-style: none;
  margin: 0px 10px;
}

/* Активная точка */
.slider .slick-dots li.slick-active button {
  background-color: transparent;
  border: 2px solid white;
}

.slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header,
footer,
.section {
  width: 100%;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Raleway, sans-serif;
}
